In [1]:
# This is a notebook with codes/scripts used during the classes of
# data analysis with R
# Rodolfo Souza - rodolfomssouza@gmail.com

In [2]:
# Introduction to R

In [3]:
# Elements in R -----------------------------------------------------------
# Vector
x1 = c(1, 2, 3, 4, 5, 6, 7, 8, 9)
x1

[1] 1 2 3 4 5 6 7 8 9

In [4]:
# Sequence
x2 = seq(1, 4.5, 0.5) # same of x2 = seq(from = 1, to = 4.5, by = 0.5)
x2

[1] 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5

In [5]:
# Repetition
x3 = rep('a', 5)
x3

[1] "a" "a" "a" "a" "a"

In [6]:
x4 = rep(x1, 3)
x4

 [1] 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9

In [7]:
x5 = rep(x1, each = 3)
x5

 [1] 1 1 1 2 2 2 3 3 3 4 4 4 5 5 5 6 6 6 7 7 7 8 8 8 9 9 9

In [8]:
# Matrix
m1 = matrix(ncol = 5, nrow = 4)
m1

     [,1] [,2] [,3] [,4] [,5]
[1,] NA   NA   NA   NA   NA
[2,] NA   NA   NA   NA   NA
[3,] NA   NA   NA   NA   NA
[4,] NA   NA   NA   NA   NA

In [9]:
m2 = matrix(ncol = 5, nrow = 4, data = seq(1, 5, length=20))
m2

     [,1]     [,2]     [,3]     [,4]     [,5]
[1,] 1.000000 1.842105 2.684211 3.526316 4.368421
[2,] 1.210526 2.052632 2.894737 3.736842 4.578947
[3,] 1.421053 2.263158 3.105263 3.947368 4.789474
[4,] 1.631579 2.473684 3.315789 4.157895 5.000000

In [10]:
m3 = matrix(ncol = 5, nrow = 4, byrow = T, data = seq(1, 5, length=20))
m3

     [,1]     [,2]     [,3]     [,4]     [,5]
[1,] 1.000000 1.210526 1.421053 1.631579 1.842105
[2,] 2.052632 2.263158 2.473684 2.684211 2.894737
[3,] 3.105263 3.315789 3.526316 3.736842 3.947368
[4,] 4.157895 4.368421 4.578947 4.789474 5.000000

In [11]:
# Work directory ----------------------------------------------------------
# Show work directory
getwd()

[1] "/home/rodolfo/Programming/R/Notebooks"

In [12]:
# Change work directory
setwd('~/')                         # Returns to the root directory
setwd('Programming/R/Notebooks')    # Enter in a new work direcory

In [13]:
# Packages ----------------------------------------------------------------
# Install packages
install.packages('fBascis', dep = T)

Installing package into ‘/home/rodolfo/R/x86_64-redhat-linux-gnu-library/3.5’
(as ‘lib’ is unspecified)
Warning message:
“package ‘fBascis’ is not available (for R version 3.5.3)”

In [14]:
# Load packages
library('fBasics')          # library and require have the same result!
require('hydroGOF')

Loading required package: timeDate
Loading required package: timeSeries
Loading required package: hydroGOF
Loading required package: zoo

Attaching package: ‘zoo’

The following object is masked from ‘package:timeSeries’:

    time<-

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

In [15]:
# Data in R ---------------------------------------------------------------
# Create random data following a normal distribution
xr1 = rnorm(n = 30, mean = 10, sd = 2)
xr1

 [1] 11.785977 10.352479  9.190038 10.369363 13.165394  6.322877 12.933720
 [8] 11.958254 12.245965  9.582900 12.063939  8.703363 12.115519  7.061486
[15] 10.493261 10.206410  9.894460 11.510557  8.127592 10.337554 11.383720
[22] 10.788321  7.834728  8.234182  9.614702 13.063385 15.749065  9.916081
[29]  7.079640 11.951344

In [16]:
# Read a table
df1 = read.table('GEOR_2016_120_Data.txt', h = T)

In [17]:
head(df1[1:9], n = 5)    # Show the first five elements of the colunms 1 to 9

  X      Y       ThetaS ThetaAvb PhiMicro PhiMeso PhiMacro Ds   S0
1 436550 9106770 0.33   0.106    62.65    11.56   25.79    1.51 0.3288
2 436629 9106770 0.35   0.117    56.85    13.35   29.80    1.57 0.4254
3 436709 9106752 0.48   0.141    80.11     8.22   11.67    1.39 0.2916
4 436790 9106760 0.50   0.124    79.04     7.17   13.79    1.21 0.5414
5 436861 9106760 0.49   0.110    79.09     6.48   14.43    1.35 0.2831

In [18]:
# Access variable from dataframe
df1$ThetaS    # Use the "$" symbol to access a column by its name

 [1] 0.33 0.35 0.48 0.50 0.49 0.36 0.42 0.43 0.46 0.51 0.39 0.50 0.50 0.44 0.50
[16] 0.34 0.43 0.50 0.45 0.52 0.41 0.35 0.47 0.49 0.54 0.37 0.38 0.46 0.47 0.49

In [20]:
df1[3]    # A different way to access the same column

   ThetaS
1  0.33
2  0.35
3  0.48
4  0.50
5  0.49
6  0.36
7  0.42
8  0.43
9  0.46
10 0.51
11 0.39
12 0.50
13 0.50
14 0.44
15 0.50
16 0.34
17 0.43
18 0.50
19 0.45
20 0.52
21 0.41
22 0.35
23 0.47
24 0.49
25 0.54
26 0.37
27 0.38
28 0.46
29 0.47
30 0.49

In [21]:
# Names of all columns of the dataframe
names(df1)

 [1] "X"        "Y"        "ThetaS"   "ThetaAvb" "PhiMicro" "PhiMeso"
 [7] "PhiMacro" "Ds"       "S0"       "Ks"       "Clay"     "Silt"
[13] "Sand"     "CSC"      "MSC"      "FSC"      "idS"      "Class"

In [22]:
# Number of columns of the dataframe
length(df1)

[1] 18

In [23]:
# Attach data from dataframe to R
attach(df1)

In [24]:
ThetaS    # Now "ThetaS" exists in R

 [1] 0.33 0.35 0.48 0.50 0.49 0.36 0.42 0.43 0.46 0.51 0.39 0.50 0.50 0.44 0.50
[16] 0.34 0.43 0.50 0.45 0.52 0.41 0.35 0.47 0.49 0.54 0.37 0.38 0.46 0.47 0.49

In [ ]:
# Pivot table -------------------------------------------------------------