In [1]:
# This is a notebook with codes/scripts used during the classes of
# data analysis with R
# Rodolfo Souza - rodolfomssouza@gmail.com

In [2]:
# Introduction to R

In [3]:
# Elements in R -----------------------------------------------------------
# Vector
x1 = c(1, 2, 3, 4, 5, 6, 7, 8, 9)
x1

[1] 1 2 3 4 5 6 7 8 9

In [4]:
# Sequence
x2 = seq(1, 4.5, 0.5) # same of x2 = seq(from = 1, to = 4.5, by = 0.5)
x2

[1] 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5

In [5]:
# Repetition
x3 = rep('a', 5)
x3

[1] "a" "a" "a" "a" "a"

In [6]:
x4 = rep(x1, 3)
x4

 [1] 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9

In [7]:
x5 = rep(x1, each = 3)
x5

 [1] 1 1 1 2 2 2 3 3 3 4 4 4 5 5 5 6 6 6 7 7 7 8 8 8 9 9 9

In [8]:
# Matrix
m1 = matrix(ncol = 5, nrow = 4)
m1

     [,1] [,2] [,3] [,4] [,5]
[1,] NA   NA   NA   NA   NA
[2,] NA   NA   NA   NA   NA
[3,] NA   NA   NA   NA   NA
[4,] NA   NA   NA   NA   NA

In [9]:
m2 = matrix(ncol = 5, nrow = 4, data = seq(1, 5, length=20))
m2

     [,1]     [,2]     [,3]     [,4]     [,5]
[1,] 1.000000 1.842105 2.684211 3.526316 4.368421
[2,] 1.210526 2.052632 2.894737 3.736842 4.578947
[3,] 1.421053 2.263158 3.105263 3.947368 4.789474
[4,] 1.631579 2.473684 3.315789 4.157895 5.000000

In [10]:
m3 = matrix(ncol = 5, nrow = 4, byrow = T, data = seq(1, 5, length=20))
m3

     [,1]     [,2]     [,3]     [,4]     [,5]
[1,] 1.000000 1.210526 1.421053 1.631579 1.842105
[2,] 2.052632 2.263158 2.473684 2.684211 2.894737
[3,] 3.105263 3.315789 3.526316 3.736842 3.947368
[4,] 4.157895 4.368421 4.578947 4.789474 5.000000

In [11]:
# Work directory ----------------------------------------------------------
# Show work directory
getwd()

[1] "/home/rodolfo/Programming/R/Notebooks"

In [12]:
# Change work directory
setwd('~/')                         # Returns to the root directory
setwd('Programming/R/Notebooks')    # Enter in a new work direcory

In [13]:
# Packages ----------------------------------------------------------------
# Install packages
install.packages('fBascis', dep = T)

Installing package into ‘/home/rodolfo/R/x86_64-redhat-linux-gnu-library/3.5’
(as ‘lib’ is unspecified)
Warning message:
“package ‘fBascis’ is not available (for R version 3.5.3)”

In [14]:
# Load packages
library('fBasics')          # library and require have the same result!
require('hydroGOF')

Loading required package: timeDate
Loading required package: timeSeries
Loading required package: hydroGOF
Loading required package: zoo

Attaching package: ‘zoo’

The following object is masked from ‘package:timeSeries’:

    time<-

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

In [15]:
# Data in R ---------------------------------------------------------------
# Create random data following a normal distribution
xr1 = rnorm(n = 30, mean = 10, sd = 2)
xr1

 [1]  7.664182 10.930571 10.854053 10.561057 12.769392  8.455179 10.022494
 [8]  8.443655 11.756315  6.668716 11.543612 12.596957  8.927256  9.619738
[15] 12.379251  8.086208  9.397224  9.116059 11.620115  6.950259  9.228064
[22] 11.462356  8.423658 10.372118  9.006458  9.710044  8.904178 12.822481
[29] 12.046240 11.171003

In [16]:
# Read a table
df1 = read.table('GEOR_2016_120_Data.txt', h = T)

In [17]:
head(df1[1:9], n = 5)    # Show the first five elements of the colunms 1 to 9

  X      Y       ThetaS ThetaAvb PhiMicro PhiMeso PhiMacro Ds   S0
1 436550 9106770 0.33   0.106    62.65    11.56   25.79    1.51 0.3288
2 436629 9106770 0.35   0.117    56.85    13.35   29.80    1.57 0.4254
3 436709 9106752 0.48   0.141    80.11     8.22   11.67    1.39 0.2916
4 436790 9106760 0.50   0.124    79.04     7.17   13.79    1.21 0.5414
5 436861 9106760 0.49   0.110    79.09     6.48   14.43    1.35 0.2831

In [18]:
# Access variable from dataframe
df1$ThetaS    # Use the "$" symbol to access a column by its name

 [1] 0.33 0.35 0.48 0.50 0.49 0.36 0.42 0.43 0.46 0.51 0.39 0.50 0.50 0.44 0.50
[16] 0.34 0.43 0.50 0.45 0.52 0.41 0.35 0.47 0.49 0.54 0.37 0.38 0.46 0.47 0.49

In [19]:
df1[3]    # A different way to access the same column

   ThetaS
1  0.33
2  0.35
3  0.48
4  0.50
5  0.49
6  0.36
7  0.42
8  0.43
9  0.46
10 0.51
11 0.39
12 0.50
13 0.50
14 0.44
15 0.50
16 0.34
17 0.43
18 0.50
19 0.45
20 0.52
21 0.41
22 0.35
23 0.47
24 0.49
25 0.54
26 0.37
27 0.38
28 0.46
29 0.47
30 0.49

In [20]:
# Names of all columns of the dataframe
names(df1)

 [1] "X"        "Y"        "ThetaS"   "ThetaAvb" "PhiMicro" "PhiMeso"
 [7] "PhiMacro" "Ds"       "S0"       "Ks"       "Clay"     "Silt"
[13] "Sand"     "CSC"      "MSC"      "FSC"      "idS"      "Class"

In [21]:
# Number of columns of the dataframe
length(df1)

[1] 18

In [22]:
# Attach data from dataframe to R
attach(df1)

In [23]:
ThetaS    # Now "ThetaS" exists in R

 [1] 0.33 0.35 0.48 0.50 0.49 0.36 0.42 0.43 0.46 0.51 0.39 0.50 0.50 0.44 0.50
[16] 0.34 0.43 0.50 0.45 0.52 0.41 0.35 0.47 0.49 0.54 0.37 0.38 0.46 0.47 0.49

In [24]:
# Pivot table -------------------------------------------------------------

In [1]:
# Load data at hour scale
df2 = read.table('Data_met_ST_hourly.txt', h = T)

In [3]:
head(df2, n = 5)

  Day Month Year Hour temp_inst temp_max temp_min rH_inst rH_max rH_min
1 3   7     2017 0    21.7      22.4     21.7     73      73     68
2 3   7     2017 1    21.5      21.8     21.5     76      76     73
3 3   7     2017 2    20.5      21.6     20.5     84      84     76
4 3   7     2017 3    20.9      21.0     20.5     76      84     76
5 3   7     2017 4    20.6      20.9     20.6     78      78     76
  dew_point_inst dew_point_max dew_point_min pressure pressure_max pressure_min
1 16.7           16.7          16.3          962.7    962.7        962.0
2 17.2           17.2          16.6          962.6    962.7        962.6
3 17.7           17.7          17.1          963.0    963.0        962.6
4 16.6           17.6          16.6          963.0    963.0        962.9
5 16.6           16.7          16.5          962.7    963.0        962.7
  wind_direction windspeed radiation rain
1 170            3.1       -3.04     0
2 162            2.0       -2.18     0
3 158            2.4       -2.62     0
4 165            3.7       -2.20     0
5 166            3.4       -1.97     0

In [5]:
tair_mnt = tapply(df2$temp_inst, list(Month=df2$Month, Year = df2$Year), mean, na.rm = T)

In [6]:
tair_mnt

     Year
Month 2017     2018
   1        NA 27.35820
   2        NA 26.26890
   3        NA 25.61492
   4        NA 24.40847
   5        NA 24.58642
   6        NA 24.86169
   7  21.30891       NA
   8  23.76290       NA
   9  24.18986       NA
   10 26.74503       NA
   11 28.44194       NA
   12 28.58065       NA

In [9]:
# Filtering data ----------------------------------------------------------
id1 = which(df2$Day==1 & df2$Year==2017) # Take the first days of all months in 2017
id1                                      # The positions of first days

  [1]  697  698  699  700  701  702  703  704  705  706  707  708  709  710  711
 [16]  712  713  714  715  716  717  718  719  720 1441 1442 1443 1444 1445 1446
 [31] 1447 1448 1449 1450 1451 1452 1453 1454 1455 1456 1457 1458 1459 1460 1461
 [46] 1462 1463 1464 2161 2162 2163 2164 2165 2166 2167 2168 2169 2170 2171 2172
 [61] 2173 2174 2175 2176 2177 2178 2179 2180 2181 2182 2183 2184 2905 2906 2907
 [76] 2908 2909 2910 2911 2912 2913 2914 2915 2916 2917 2918 2919 2920 2921 2922
 [91] 2923 2924 2925 2926 2927 2928 3625 3626 3627 3628 3629 3630 3631 3632 3633
[106] 3634 3635 3636 3637 3638 3639 3640 3641 3642 3643 3644 3645 3646 3647 3648

In [11]:
mean(df2$temp_inst[id1])    # The mean of the temperature of all first days

[1] 26.12583

In [12]:
# Summarize data
summary(df2)

      Day            Month             Year           Hour
 Min.   : 1.00   Min.   : 1.000   Min.   :2017   Min.   : 0.00
 1st Qu.: 8.00   1st Qu.: 3.000   1st Qu.:2017   1st Qu.: 5.00
 Median :15.00   Median : 7.000   Median :2017   Median :11.00
 Mean   :15.52   Mean   : 6.553   Mean   :2017   Mean   :11.49
 3rd Qu.:23.00   3rd Qu.:10.000   3rd Qu.:2018   3rd Qu.:17.00
 Max.   :31.00   Max.   :12.000   Max.   :2018   Max.   :23.00
   temp_inst        temp_max        temp_min        rH_inst
 Min.   :15.80   Min.   :16.20   Min.   :14.80   Min.   :10.00
 1st Qu.:22.30   1st Qu.:22.80   1st Qu.:21.90   1st Qu.:40.00
 Median :24.90   Median :25.70   Median :24.20   Median :59.00
 Mean   :25.57   Mean   :26.26   Mean   :24.92   Mean   :56.26
 3rd Qu.:28.70   3rd Qu.:29.60   3rd Qu.:27.80   3rd Qu.:73.00
 Max.   :37.00   Max.   :37.90   Max.   :36.30   Max.   :91.00
     rH_max          rH_min      dew_point_inst  dew_point_max
 Min.   :11.00   Min.   :10.00   Min.   :-1.80   Min.   :-1.30
 1st Qu.:44.00   1st Qu.:37.00   1st Qu.:13.20   1st Qu.:13.90
 Median :62.00   Median :55.00   Median :15.50   Median :15.90
 Mean   :59.09   Mean   :53.44   Mean   :15.02   Mean   :15.57
 3rd Qu.:75.00   3rd Qu.:70.00   3rd Qu.:17.30   3rd Qu.:17.80
 Max.   :91.00   Max.   :90.00   Max.   :21.80   Max.   :22.20
 dew_point_min      pressure      pressure_max    pressure_min
 Min.   :-2.00   Min.   :949.5   Min.   :949.7   Min.   :949.4
 1st Qu.:12.50   1st Qu.:955.0   1st Qu.:955.3   1st Qu.:954.7
 Median :15.10   Median :956.9   Median :957.2   Median :956.7
 Mean   :14.49   Mean   :957.1   Mean   :957.3   Mean   :956.8
 3rd Qu.:16.90   3rd Qu.:959.1   3rd Qu.:959.4   3rd Qu.:958.8
 Max.   :21.40   Max.   :964.7   Max.   :964.8   Max.   :964.6
 wind_direction    windspeed       radiation            rain
 Min.   :  1.0   Min.   :0.100   Min.   :  -3.54   Min.   : 0.00000
 1st Qu.:146.0   1st Qu.:1.600   1st Qu.:  -3.53   1st Qu.: 0.00000
 Median :169.0   Median :2.500   Median :  25.46   Median : 0.00000
 Mean   :167.2   Mean   :2.612   Mean   : 851.99   Mean   : 0.04988
 3rd Qu.:190.0   3rd Qu.:3.500   3rd Qu.:1676.00   3rd Qu.: 0.00000
 Max.   :360.0   Max.   :8.500   Max.   :4052.00   Max.   :23.80000